.ag-format-container {
  width: 1142px;
  margin: 0 auto;
}

html,
body {
  height: 100%;
overflow-y: hidden; // hide vertical
overflow-x: hidden; // hide horizontal
  background-color: #060606;
}

.ag-countdown-page {

  min-height: 100%;
  padding: 100px 0;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timer-count/images/happy-weeks.jpg) no-repeat scroll 50% 0 #060606;
}
.ag-countdown-block {
  display: table;
  margin: 0 auto;
  padding: 30px 50px;
  border: 1px solid #888;
}

.ag-countdown_title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  padding: 0 0 15px;

  text-align: center;
  font-size: 22px;
  color: #ffd200;
}

.ag-countdown_date {
  white-space: nowrap;
  text-align: center;
}
.ag-countdown_date-box {
  display: inline-block;
  margin: 0 5px;
}
.ag-countdown_date-box:first-child {
  margin-left: 0;
}
.ag-countdown_date-box:last-child {
  margin-right: 0;
}

.ag-countdown_digits {
  display: inline-block;
  width: 60px;
  height: 80px;
  background: url(https://raw.githubusercontent.com/SochavaAG/example-mycode/master/pens/timer-count/images/digits.jpg)
}
.ag-countdown_digit-0 {
  background-position: 0 0;
}
.ag-countdown_digit-1 {
  background-position: -60px 0;
}
.ag-countdown_digit-2 {
  background-position: -120px 0;
}
.ag-countdown_digit-3 {
  background-position: -180px 0;
}
.ag-countdown_digit-4 {
  background-position: -240px 0;
}
.ag-countdown_digit-5 {
  background-position: -300px 0;
}
.ag-countdown_digit-6 {
  background-position: -360px 0;
}
.ag-countdown_digit-7 {
  background-position: -420px 0;
}
.ag-countdown_digit-8 {
  background-position: -480px 0;
}
.ag-countdown_digit-9 {
  background-position: -540px 0;
}

.ag-countdown_label {
  text-align: center;
  font-size: 18px;
  color: #787d87;
}

@media only screen and (max-width: 767px) {
  .ag-countdown-block {
    padding: 30px;
  }

  .ag-countdown_digits {
    height: 60px;
    width: 45px;
    background-size: auto 60px;
  }
  .ag-countdown_digit-1 {
    background-position: -45px 0;
  }
  .ag-countdown_digit-2 {
    background-position: -90px 0;
  }
  .ag-countdown_digit-3 {
    background-position: -135px 0;
  }
  .ag-countdown_digit-4 {
    background-position: -180px 0;
  }
  .ag-countdown_digit-5 {
    background-position: -225px 0;
  }
  .ag-countdown_digit-6 {
    background-position: -270px 0;
  }
  .ag-countdown_digit-7 {
    background-position: -315px 0;
  }
  .ag-countdown_digit-8 {
    background-position: -360px 0;
  }
  .ag-countdown_digit-9 {
    background-position: -405px 0;
  }
}

@media only screen and (max-width: 479px) {
  .ag-countdown-block {
    padding: 15px;
  }

  .ag-countdown_digits {
    height: 40px;
    width: 30px;
    background-size: auto 40px;
  }
  .ag-countdown_digit-1 {
    background-position: -30px 0;
  }
  .ag-countdown_digit-2 {
    background-position: -60px 0;
  }
  .ag-countdown_digit-3 {
    background-position: -90px 0;
  }
  .ag-countdown_digit-4 {
    background-position: -120px 0;
  }
  .ag-countdown_digit-5 {
    background-position: -150px 0;
  }
  .ag-countdown_digit-6 {
    background-position: -180px 0;
  }
  .ag-countdown_digit-7 {
    background-position: -210px 0;
  }
  .ag-countdown_digit-8 {
    background-position: -240px 0;
  }
  .ag-countdown_digit-9 {
    background-position: -270px 0;
  }

  .ag-countdown_label {
    font-size: 14px;
  }
}


@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}

@media only screen and (max-width: 639px) {

}

@media only screen and (max-width: 479px) {

}

@media (min-width: 768px) and (max-width: 979px) {
  .ag-format-container {
    width: 750px;
  }

}

@media (min-width: 980px) and (max-width: 1161px) {
  .ag-format-container {
    width: 960px;
  }

}